<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean name="ScreenPrinter" class="gg.letsgo.boutframework.PrintService"/>

    <bean name="HelloWorld" class="gg.letsgo.boutframework.HelloWorld">
        <property name="text" value="Hello World!"/>
        <property name="outputService" ref="ScreenPrinter"/>
    </bean>
</beans>